<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cambio Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  <div class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Cambia tu Password!!!</ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-img src="assets/images/log.webp" alt="..."></ion-img>
      </ion-card-header>

      <ion-card-content>

        <form [formGroup]="formularioContrasenia">
          <ion-item>
            <ion-label position="floating">Contraseña Actual</ion-label>
            <ion-input type="password"  formControlName="oldPassword" ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Nueva Contraseña</ion-label>
            <ion-input type="password"  formControlName="password" ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Confirma Nueva Contraseña</ion-label>
            <ion-input type="password" formControlName="passwordconfi"></ion-input>
          </ion-item>

        </form>

        <ion-button color="danger" (click)="cambio()">
          <ion-icon name="log-in-outline"></ion-icon>
          Ingresar
        </ion-button>



      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
