<ion-header [translucent]="true">
  <ion-toolbar class="degradado">
    
    <!-- Reemplaza el botón de menú con el icono de menú hamburguesa -->

    <!-- <ion-title>Inicio</ion-title> -->
    <ion-title>Sesión - {{ emailUsuario }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="fondo">
  <div class="ion-padding">
    <ion-card>
      <ion-card-header>
        
        <ion-card-subtitle></ion-card-subtitle>
        <ion-img src="assets/images/asistenciar.webp" alt="..."></ion-img>
      </ion-card-header>
    </ion-card>
    
    <ion-button routerLink="/cambio-contrasenia" expand="block" class="btnCancel ion-margin-top">
      Cambia Tu Password
    </ion-button>


      <ion-button  expand="block" class="btnCancel ion-margin-top" (click)="salir()">
        Salir
      </ion-button>

  </div>

</ion-content>
