<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Reemplaza el botón de menú con el icono de menú hamburguesa -->
    <ion-buttons slot="start">
      <ion-button (click)="toggleMenu()">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">myHome</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
