/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


.degradado {
    --background: linear-gradient(90deg, rgba(232,119,34,1) 0%, rgba(236,161,84,1) 50%);
    --color: #FFFFFF;
    text-align: center;

}

.btnSuccess {
    --background: linear-gradient(90deg, rgba(67,176,42,1) 0%, rgb(45, 87, 23) 50%);
    --color: #FFFFFF;
    text-align: center;

}
.btnCancel {
    --background: linear-gradient(90deg, rgba(213,0,50,1) 0%, rgba(255,88,93,1) 50%);
    --color: #FFFFFF;
    text-align: center;

}

.btnCards{
    text-align: center;
}

.fondo{
    --background:radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}